<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <%- include('../common/headers.ejs') %>
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminAnnouncementModule/adminAnnouncementList/adminAnnouncementList.css"
    />
    <script
      defer
      src="/adminAnnouncementModule/adminAnnouncementList/adminAnnouncementList.js"
    ></script>
  </head>
  <body>
    <div class="bg-head"></div>
    <div class="announcementlist-title">ANNOUNCEMENTS</div>
    
    
    <div class="announcement-container">
      <div id="alert">
      </div>
      <div class="create-container">
        <a href="/admin/announcement/create">
          <button id="createBtn">Create Btn</button>
        </a>
      </div>
      <hr class="solid" />
      <div class="announcement-list-container">
        <% for(const announcement of announcements) { %>

        <div class="announcement">
          <div>ICON</div>
          <div>
            <a href="/admin/announcement/detail/<%= announcement._id %>"
              ><%= announcement.description %></a
            >
          </div>
          <div class="popup-container" onclick="popup()">
            ...
            <div class="popup" id="popup">
              <a href="/admin/announcement/edit/<%= announcement._id %>"
                >Edit</a
              >
              <hr class="popup-solid" />
              <a href="/admin/announcement/delete/<%= announcement._id %>"
                >Delete</a
              >
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </body>
</html>
