<%- include('../common/headers.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mgalante/jquery.redirect@master/jquery.redirect.js"></script>
<link rel="stylesheet" href="/reservationModule/confirm/confirm.css" />
<script defer type="module" src="/reservationModule/confirm/confirm.js"></script>

<div>
  Please confirm the details of your trip.
</div>

<div>Trip type</div>
<div id="trip-type"></div>

<div class="one-way-information">
  <div>
    <div>From</div>
    <div id="from"></div>
  </div>
  <div>
    →
  </div>
  <div>
    <div>To</div>
    <div id="to"></div>
  </div>
</div>

Selected dates
<div id="selected-dates-container">
</div>

<div class="round-trip-information">
  Departure
  <div class="departure-container">
    <div id="departure"></div>
    <div id="departure-time"></div>
  </div>
  
  Return
  <div class="return-container">
    <div id="return"></div>
    <div id="return-time"></div>
  </div>
</div>

<div class="one-way-information-time">
  Departure time
  <div id="one-way-departure-time"></div>
</div>

<div>
  <button onclick="history.back()">← BACK</button>
  <button id="reserve">RESERVE TRIP</button>
</div>

<script>
  const from = JSON.parse('<%- JSON.stringify(from) %>');
  const to = JSON.parse('<%- JSON.stringify(to) %>');
  const date = JSON.parse('<%- JSON.stringify(date) %>');
  const departureIds = JSON.parse('<%- JSON.stringify(departureIds) %>');
  const departureTime = JSON.parse('<%- JSON.stringify(departureTime) %>');

  let returnIds = [];
  let returnTime;
  try {
    returnIds = JSON.parse('<%- JSON.stringify(returnIds) %>');
    returnTime = JSON.parse('<%- JSON.stringify(returnTime) %>');
  } catch (error) {
  }

</script>