<%- include('../common/headers.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<link rel="stylesheet" href="/reservationModule/return/return.css" />
<script src="https://cdn.jsdelivr.net/gh/mgalante/jquery.redirect@master/jquery.redirect.js"></script>
<script defer type="module" src="/reservationModule/return/return.js"></script>

<title>Return</title>

<div class="header-container">
  <div class="header-title">
    Reserve Trip
  </div>
  <div class="step-container">
    <div class="step"></div>
    <div class="step"></div>
    <div class="step step-active"></div>
    <div class="step last"></div>
  </div>
</div>

<div>
  Select time slot for 
  <div class="location-container">
    <div id="from"></div>
    <div>→</div>
    <div id="to"></div>
  </div>
  <div id="return-header">(Return trip)</div>
</div>

<form class="time-container">
</form>

<div>
  <button id="back" onclick="history.back()">← BACK</button>
  <button id="next">NEXT →</button>
</div>

<script>
  const from = JSON.parse('<%- JSON.stringify(from) %>');
  const to = JSON.parse('<%- JSON.stringify(to) %>');
  const date = JSON.parse('<%- JSON.stringify(date) %>');
  const schedules = JSON.parse('<%- JSON.stringify(schedules) %>');
  const departureIds = JSON.parse('<%- JSON.stringify(departureIds) %>');
  const departureTime = JSON.parse('<%- JSON.stringify(departureTime) %>');
  const purpose ='<%- purpose %>';
</script>