<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/adminCheckInModule/result/result.css"/>
<script defer src="/adminCheckInModule/result/result.js"></script>

<title>Result</title>
<div id="status-message"></div>

<div id="name"><%-passengerInfo.name %></div>
<div id="type"><%-passengerInfo.designation %></div>
<div id="id"><%-passengerInfo.idNumber %></div>

<button id="scan-another">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
    <rect x="4" y="1" width="22" height="22" rx="3" stroke="white" stroke-width="2"/>
    <path d="M0 5H30V18H0V5Z" fill="black"/>
    <path d="M1 11.5H29" stroke="white" stroke-width="2"/>
  </svg>
  SCAN ANOTHER
</button>
<button id="back-to-list">BACK TO LIST</button>

<script>
  const result = "<%- reserve %>"
  const invalid = "<%- invalid %>"
</script>