<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/profileModule/profile/profile.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="/profileModule/profile/profile.js"></script>

<title>Profile</title>

<div class="header-container">
  <div class="header">Profile</div>
  <svg id="setting" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
    <g clip-path="url(#clip0_599_1069)">
    <path d="M30.305 20.4884C30.3683 20.0134 30.4 19.5225 30.4 19C30.4 18.4934 30.3683 17.9867 30.2892 17.5117L33.5033 15.01C33.7883 14.7884 33.8675 14.3609 33.6933 14.0442L30.6533 8.78755C30.4633 8.43922 30.0675 8.32838 29.7192 8.43922L25.935 9.95922C25.1433 9.35755 24.3042 8.85088 23.37 8.47088L22.8 4.44922C22.7367 4.06922 22.42 3.80005 22.04 3.80005H15.96C15.58 3.80005 15.2792 4.06922 15.2158 4.44922L14.6458 8.47088C13.7117 8.85088 12.8567 9.37338 12.0808 9.95922L8.29668 8.43922C7.94834 8.31255 7.55251 8.43922 7.36251 8.78755L4.33834 14.0442C4.14834 14.3767 4.21168 14.7884 4.52834 15.01L7.74251 17.5117C7.66334 17.9867 7.60001 18.5092 7.60001 19C7.60001 19.4909 7.63168 20.0134 7.71084 20.4884L4.49668 22.9901C4.21168 23.2117 4.13251 23.6392 4.30668 23.9559L7.34668 29.2126C7.53668 29.5609 7.93251 29.6717 8.28084 29.5609L12.065 28.0409C12.8567 28.6425 13.6958 29.1492 14.63 29.5292L15.2 33.5509C15.2792 33.9309 15.58 34.2001 15.96 34.2001H22.04C22.42 34.2001 22.7367 33.9309 22.7842 33.5509L23.3542 29.5292C24.2883 29.1492 25.1433 28.6425 25.9192 28.0409L29.7033 29.5609C30.0517 29.6875 30.4475 29.5609 30.6375 29.2126L33.6775 23.9559C33.8675 23.6075 33.7883 23.2117 33.4875 22.9901L30.305 20.4884ZM19 24.7001C15.865 24.7001 13.3 22.135 13.3 19C13.3 15.865 15.865 13.3 19 13.3C22.135 13.3 24.7 15.865 24.7 19C24.7 22.135 22.135 24.7001 19 24.7001Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_599_1069">
    <rect width="38" height="38" fill="white"/>
    </clipPath>
    </defs>
    </svg>
</div>

<div class="main-container">
  <div class="information-container">
    <img id="profile-picture" src="<%- picture %>" />
    <div class="verify-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M8 0C3.584 0 0 3.584 0 8C0 12.416 3.584 16 8 16C12.416 16 16 12.416 16 8C16 3.584 12.416 0 8 0ZM6.4 12L2.4 8L3.528 6.872L6.4 9.736L12.472 3.664L13.6 4.8L6.4 12Z" fill="#417845"/>
      </svg>
      <div>Verified</div>
    </div>
    <span id="name"><%= name %></span>
    <span id="designation"><%= designation %></span>
    <span id="idNumber"><%= idNumber %></span>
  </div>
  
  <script>
    const idNumber = "<%= idNumber %>";
  </script>
  <div id="qr">
  
  </div>
</div>
